.body1{
    background-color:  #131313;
}
.container22{
    color: var(--color-text);margin-left: 10%;
    margin-right: 10%;
}

.title23{
    font-size: 35px;
    font-weight:700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    color: #ff8177;
    background-color: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.project22{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}